@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import 'bootstrap/dist/css/bootstrap.min.css';



* {
    margin: 0px ;
    padding: 0px;
}


/*    Header     */

.header .container-fluid {
  position: relative;
  background-color: #626262;
  height: 100px;
  width: 100%;
}
.rc-collapse > .rc-collapse-item > .rc-collapse-header{
	background-color: #8a053a;
	color: #fff !important;
}



header img {
  background-color: hsl(0, 0%, 15%);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    background-color:#626262;
   
}

.logout{
	max-height:80%;
	margin-top: 10px;
}

.title {
  color: #ccc;
    font-family: "poppins", sans-serif;
    text-transform: uppercase;
    font-size: 27pt;
    text-align: center;
    padding-left: 0%;
    padding-right: 5%;
    line-height: 90px;
}

.row {
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.imageTop{
	padding-top: 0px;
	display:block;
  margin:auto;
  max-width: 100%;
  height: 100%;
	
}
  

.whiteBg{
	background: #fff;
}

.greyBg{
	background:#e3e3e3;
}



/*Section*/
.sectionA {
	font-family: 'poppins', sans-serif;
	padding-top: 40px;
	padding-bottom:90px;
	left:0;
	right:0;
}

.body {
	padding-left: 400px;
	padding-right: 400px;
}


.top_layer::before {
	position: absolute;
	width: 100%;
	height: 50px;
	content: "";
	background: url('../images/wave.png');
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-size: auto;
	height: 500px;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	top: 440px;
}

.sectionA .titlepage {
	text-align: left;
	padding-bottom: 60px;
	padding-top:100px;
}

.sectionA .titlepage h2 {
	padding: 0px 0px 0px 0px;
	font-size: 40px;
	font-weight: bold;
	color: #050303;
	line-height: 46px;
	border-bottom: #8a053a solid 1px;
	width: 410px;
	margin: 0 auto;
	margin-bottom: 0px;
	margin-bottom: 20px;
}

.sectionA .titlepage span {
	color: #3d3c3c;
	font-size: 20px;
	line-height: 30px;
 	width: 40px;
}


.sectionA .img-box {
	text-align: center;
}

.sectionA .img-box figure {
	margin: 0;
	margin-bottom: 60px;
}

.sectionA .img-box a {
	text-transform: uppercase;
	border: #000 solid 1px;
	background: #000;
	width: 206px;
	padding: 15px 0;
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	color: #fff;
}

.sectionA .img-box a:hover {
	border: #c47c9c solid 1px;
	background: #c47c9c;
}




/*Section B*/

.section {
	font-family: 'poppins', sans-serif;
	padding-top: 50px;
	
}

.body {
	padding-left: 400px;
	padding-right: 400px;
}

.section .titlepage {
	text-align: left;
	padding-bottom: 60px;
}

.section .titlepage h2 {
	padding: 0px 0px 6px 0px;
	font-size: 40px;
	font-weight: bold;
	color: #050303;
	line-height: 46px;
	border-bottom: #8a053a solid 1px;
	margin: 0 auto;
	margin-bottom: 0px;
	margin-bottom: 20px;
}

.section .titlepage span {
	color: #3d3c3c;
	font-size: 20px;
	line-height: 30px;
 	width: 40px;
}

.section .img-box {
	text-align: center;
}

.section .img-box figure {
	margin: 0;
	margin-bottom: 60px;
}

.section .img-box a {
	text-transform: uppercase;
	border: #000 solid 1px;
	background: #000;
	width: 206px;
	padding: 15px 0;
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	color: #fff;
}

.section .img-box a:hover {
	border: #c47c9c solid 1px;
	background: #c47c9c;
}

.section-padbot{
	padding-bottom: 90px;
}





.subsection{
	font-family: 'poppins', sans-serif;
	padding-top: 20px
}

.subsection .titlepage {
	text-align: left;
	padding-bottom: 60px;
}

.subsection .titlepage h2 {
	padding: 0px 0px 6px 0px;
	font-size: 25px;
	font-weight: bold;
	color: #050303;
	line-height: 30px;
	border-bottom: #8a053a solid 1px;
	margin: 0 auto;
	margin-bottom: 0px;
	margin-bottom: 15px;
}

.subsection .titlepage span {
	color: #3d3c3c;
	font-size: 17px;
	line-height: 30px;
 	width: 40px;
}

.subsection .comment{
	color: #3d3c3c;
	font-size: 20px;
	line-height: 30px;
}


.subsection .titlepage li {
	color: #3d3c3c;
	font-size: 17px;
	line-height: 30px;
}




#fondo {
  background-image: url(../images/fondo.png);
  background-repeat: repeat-x;
  height: 176px;
}

#cmc-footer {
  background-color: #bababa;
  min-height: 372px;
}

#cmc-footer-contacto {
  display: block;
  max-width: 351px;
  padding-left: 40px;
}

ul,
li{
  display: list-item;
}

li {
  background-repeat: no-repeat;
  margin-bottom: 6px;
  padding-left: 20px;
}
/*#cmc-footer-contacto,#cmc-footer-direccion{
	padding-left: 50px;

}	*/
ol>img{
	display: block;
	margin-left:auto;
	margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
  height:auto;
}

.tabbed{
	padding-left: 40px;
}

.listtab{
	padding-left: 230px;
}

#cmc-footer {
  min-height: 140px;
}

#cmc-footer-wrapper {
  height: 196px;
  -webkit-box-shadow: inset 0px 5px 15px -1px #777;
  -moz-box-shadow: inset 0px 5px 15px -1px #777;
  -ms-box-shadow: inset 0px 5px 15px -1px #777;
  box-shadow: inset 0px 5px 15px -1px #777;
}

#cmc-footer-datos {
  background-image: url(../images/cmc-footer-logo.png);
  background-repeat: no-repeat;
  background-position: right center;
  display: table;
  margin: auto;
  min-width: 1080px;
  width: 71.5%;
}

#cmc-footer-contacto {
  display: table-column;
  line-height: 25px;
  padding-top: 33px;
  padding-left:40px;
}

#cmc-footer-direccion {
  background-image: url(../images/cmc-footer-direccion-desktop.png);
  font-size: 13pt;
  margin-bottom: 17px;
  min-height: 34px;
  padding-left:40px;
}

#cmc-footer-telefono {
  background-image: url(../images/cmc-footer-telefono-desktop.png);
  font-size: 11.5pt;
  margin-bottom: 10px;
  min-height: 34px;
  padding-left:40px;
}

#cmc-footer-social {
  display: table-column;
  letter-spacing: 1px;
  margin-top: 31px;
  line-height: 1.63em;
  max-width: 75px;
}

#cmc-footer-social li {
  margin-bottom: 12px;
  padding-left: 38px;
}

#cmc-footer-social ul li .linkLabelSocial {
  display: block;
}

#cmc-footer-social ul li .linkIconSocial {
  display: none;
}

#cmc-footer-facebook {
  background-image: url(../images/cmc-footer-facebook.png);
  background-position: 0 3px;
  min-height: 32px;
}

#cmc-footer-twitter {
  background-image: url(../images/cmc-footer-twitter.png);
  background-position: 0 3px;
  min-height: 32px;
}

#cmc-footer-youtube {
  background-image: url(../images/cmc-footer-youtube.png);
  background-position: 0 3px;
  min-height: 33px;
}

/* Estilos comunes a todos los tamaños de pantalla. */
a,
a:active,
a:focus,
a:hover,
a:visited {
  color: #8c2131;
  font-weight: bolder;
  text-decoration: underline;
}

.linkLabelSocial,
.linkLabelSocial:active,
.linkLabelSocial:focus,
.linkLabelSocial:hover,
.linkLabelSocial:visited {
  color: #656565;
  font-size: 12pt;
}

label {
    margin: 0;
}

#cmc-footer {
  width: 100%;
}

#cmc-footer-wrapper {
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-left: 0;
  list-style: none;
}

#cmc-footer-contacto {
  color: #363636;
  float: left;
  font-size: 12pt;
}

#cmc-footer-social {
  float: left;
}
ol {
    counter-reset: item

}
li {
    display: block

}
li:before {
    content: counters(item, ".") ". ";
    counter-increment: item
}
.margin40left{
    margin-left:40px;
}
ol#startThree{
    counter-reset:item 2;
}
ol#startFive{
    counter-reset:item 4;
}
#noDisplay{
    display: none !important;

}
.fotoPFX{
    transform: scale(.7,.7);

}
.styled-link {
	color: blue; 
	text-decoration: underline; 
	cursor: pointer;
  }

